{% extends 'users/base.html' %}
{% load static %}
{% block content %}
{% load crispy_forms_tags %}

   
                               
                   <h1 > <a href="/todos_list/"><i class="fa-solid fa-angles-left"></i></a>  {{ title }}  </h1>    
                      

     
             
  
       <div class="container mt-5">
       
               <div class="row justify-content-center">
                   
<h3 > Riferimento: 
          {% if F_todos_dett_crud.enterprisepeopleobj is not none %}
              {{ F_todos_dett_crud.instance.enterprisepeopleobj }}
          {% endif %}
          {% if F_todos_dett_crud.instance.items_standards is not none %}
              {{ F_todos_dett_crud.instance.items_standards.standards }} - {{ F_todos_dett_crud.instance.items_standards }}
          {% endif %}
          {% if F_todos_dett_crud.instance.standards is not none %}
              {{ F_todos_dett_crud.instance.standards }}
          {% endif %}
 </h3>  

       {% crispy F_todos_dett_crud   %}   
          

      
    </div></div>

    <div class="container mt-5">

           <h2>Prossime Scadenze</h2>
  <ul>
    {% for o in occ %}
      <li>{{ o.title }} - {{ o.start }}</li>
    {% endfor %}
  </ul>
    </div>
    <p></p>
    
    
{% endblock content %}